table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    font-size: 18px;
}

thead {
    background: rgba(34, 27, 41, 0.418);
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1.5rem 2rem;
    font-size: 16px;
}

td {
    padding: 1.5rem 1rem;
}

@media (max-width: 768px) {
  table {
    table-layout: auto;
    width: 90%;
    margin: auto;
    display: block;
    overflow: auto;
  }
}